body {
    background-color: white;
    margin: auto;
}

a {
  color: #A0522D;
}

a:visited {
  color: #A0522D;
}

a:active {
  color: #A0522D;
}

.start {
  background-color: white;
  margin-top: 20px;
}

.item {
  height: 40px;
  text-align: center;
  font-size: 22px;;
  line-height: 0;
  background: #00cfcf;
  color: #A0522D;
  margin-top: 5px;
}

.one {
  text-align: center;
  margin-left: -1cm;
}

.one a {
  padding: 1.5em;
  background: #8e24aa;
  border-center: 12px solid #A0522D;
  color: black;
border-radius: 90px;
  
}

.one a:hover {
  background: #8B4513;
}

.one li {
  display: inline;
}

.struct {
  max-width:960px;
  margin: 0 auto;
  padding:10px;
}

#shapka {
  background-color: #8e24aa;
  height: 180px;
  color: #a4e6f2;
  width: 100%;
}

#logo {
  position: absolute;
  width: 300px;
  height: 150px;
  margin-left: -30px;
}


#txt {
  color:black;
  position:absolute;
  margin-left: 300px;
  margin-top: 25px;
  font-size: 100px;
}



table {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 400px;
  }

  th {
    border: 1px solid black;
  }

  td {
    border: 1px solid black;
  }

  .ta {
    background-color: #F08080;
  }

input {

  margin-bottom: 10px;
}


.ifooter {
  margin-top: 50px;
  background: #8e24aa;
  height: 100px;
  color: #FFFFFF;
}

.tab {
  background-color: #F08080;
}

#head3{
  margin-top: 50px;
}

#forum {
    text-align: center;
    padding: 60px;
    width: 400px;
}
